* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: #252525;
    line-height: 1;
}

ul,
ol {
    list-style: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

img {
    border: none;
}

a {
    text-decoration: none;
}

.signiture-btn {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #fff;
    background: -webkit-linear-gradient(269.11deg, #9E00FF -13.92%, #2245FF 99.24%);
    background: -o-linear-gradient(269.11deg, #9E00FF -13.92%, #2245FF 99.24%);
    background: linear-gradient(269.11deg, #9E00FF -13.92%, #2245FF 99.24%);
}

.signiture-btn:hover {
    border: 2px solid #9E00FF;
    background: #fff;
    color: #9E00FF;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}